*.jl.cov
*.jl.*.cov
*.jl.mem
global_prefix
.vscode/

# Our code modifies this (pending resolution of https://github.com/JuliaLang/Pkg.jl/issues/796)
MutableArtifacts.toml

# Vim forever! Eat it, emacs!
*.swp
