## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  # We don't have docker on OSX on travis at the moment... :(
  #- osx
julia:
  - 1.3
  - 1.4
  - nightly
notifications:
  email: false
git:
  depth: 99999999

env:
  global:
    - BINARYBUILDER_AUTOMATIC_APPLE=true
cache:
  directories:
    - deps

jobs:
  allow_failures:
    julia: nightly
  include:
    # Add a job that uses the privileged builder with squashfs shards
    - julia: 1.3
      env:
        - BINARYBUILDER_RUNNER=privileged
        - BINARYBUILDER_USE_SQUASHFS=true

    # Add a job that uses the unprivileged builder with unpacked shards
    - julia: 1.3.1
      env:
        - BINARYBUILDER_RUNNER=unprivileged
        - BINARYBUILDER_USE_SQUASHFS=false

    # Add a job that uses the docker builder with unpacked shards
    - julia: 1.3.0
      env:
        - BINARYBUILDER_RUNNER=docker
        - BINARYBUILDER_USE_SQUASHFS=false

    # Build the docs!
    - stage: Documentation
      julia: 1.3
      os: linux
      script:
        - julia --project=docs -e 'using Pkg; Pkg.instantiate()'
        - julia --project=docs --color=yes docs/make.jl
      after_success: skip

branches:
  only:
  - master
  - gh-pages # For building documentation
  - /^testing-.*$/ # testing branches
  - /^v[0-9]+\.[0-9]+\.[0-9]+$/ # version tags

script:
   - julia --project -e 'using Pkg; Pkg.add(PackageSpec(name="BinaryProvider", rev="master"))'
   - julia --project --color=yes --check-bounds=yes -e 'using Pkg; Pkg.test("BinaryBuilder", coverage=true)'

# Ironic.  He could provide binaries for others but not himself...
addons:
  apt:
    packages:
      - curl
      - wget
      - p7zip-full
      - tar
      - gzip

after_success:
  # push coverage results to Codecov
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
