name: TagBot
on:
  issue_comment:
    types:
      - created
  workflow_dispatch:
    inputs:
      lookback:
        description: "[DEPRECATED] No longer has any effect"
        default: "3"
jobs:
  TagBot:
    if: github.event_name == 'workflow_dispatch' || github.actor == 'JuliaTagBot'
    runs-on: ubuntu-latest
    steps:
      - uses: JuliaRegistries/TagBot@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # For commits that modify workflow files: SSH key enables tagging, but
          # releases require manual creation. For full automation of such commits,
          # use a PAT with `workflow` scope instead of GITHUB_TOKEN.
          # See: https://github.com/JuliaRegistries/TagBot#commits-that-modify-workflow-files
          ssh: ${{ secrets.DOCUMENTER_KEY }}
          # ssh: ${{ secrets.NAME_OF_MY_SSH_PRIVATE_KEY_SECRET }}
